---
title: "ITECH Weekly Newsletter - August 1, 2021"
preheader: "A few goodies for your post Valentine's day hustle!"
bodyClass: bg-gray-200
---

<extends src="src/layouts/master.html">
  <block name="head">
    <style>
      .emailheader {
        background-repeat: no-repeat;
        background-size: cover;
      }

      .emailfooter {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 150px;
      }

      a {
        color: black;
        text-decoration: none;
        display: block;
      }
    </style>
  </block>
  <block name="template">
    <table align="center" class="mx-auto font-sans bg-gray-100" bgcolor="#F3F4F6">
      <tr class="bg-gray-100 w-600" align="center">
        <td align="center" class="sm:px-16">
          <table class="w-600 sm:w-full">
            <tr class="bg-white">
              <!-- https://drive.google.com/uc?id=1CMFKs_M4ogqzjSMLPvDhHZ417k2bRcvO -->
              <td
                class="flex items-center justify-between p-48 sm:py-32 sm:px-24 emailheader bg-gradient-to-t from-pink-100 to-purple-400 ...">
                <table class="w-full">
                    <!-- START:  1.HEADER ///////////////////////////////////////////////////-->

                  <tbody>
                    <tr>
                      <td class="flex items-center">
                        <img src="https://drive.google.com/uc?id=1BFsBVxC-GX-ZmexA_mFXzjnkUod0SKnB" width="40"
                          height="50" class="pr-6">
                        <h1 class="self-center m-0 text-4xl text-white font-objectivity">ITECH</h1>
                      </td>
                      <td>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">
                          AUGUST 1,
                          2021</h4>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">Weekly
                          Newsletter</h4>
                      </td>
                    </tr>
                  </tbody>
                    <!-- END:  1.HEADER ///////////////////////////////////////////////////-->


              </td>
            </tr>
            <tr>
              <td class="bg-white">
                <component src="src/components/vmlbg.html"
                  locals='{"width": 600, "height": 400, "src": "https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"}'>
                  <div class="leading-64 sm:h-32">&zwnj;</div>
                  <table class="w-full mt-12" align="center">
                    <!-- START: 2.LETTER ///////////////////////////////////////////////////-->

                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <p class="mb-32 text-sm font-thin text-center">If you are viewing this on mobile, press revert auto-sizing
                        </p>
                        <h1 class="mb-16 text-2xl sm:leading-40 font-objectivity">Hey Bits!</h1>

                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          August you must have missed me because we definitely do!
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          Interesting articles you probably haven't seen yet are just below.
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          Learning from experience is truly very important, but what if you can learn from 
                          others’ experience as well? Check out some of the interesting interviews with 
                          Start up founders in the Philippines!

                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          If you have any concerns or questions, please feel free to
                          fill up the form in this link: <br> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSOI0HZtXYGRCu9Kfybq66BpYdHUCn2vQZTLlXAjKCqYXngQ/viewform" class="inline">tinyurl.com/ITECHFeedbackForm</a>.
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          New August New School Year <span>⭐️</span>
                        </p>


                        <p class="mt-32 text-lg leading-24 font-objectivity">
                          Love,<br />
                          ITECH Team
                        </p>
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
                    <!-- END: 2.LETTER ///////////////////////////////////////////////////-->



                  <div class="leading-64 sm:h-32">&zwnj;</div>
                </component>
              </td>
            </tr>
            <tr>
              <td class="pb-32 bg-white">
                <h1 class="text-3xl font-bold text-center font-objectivity mb-36" style="color: #64C0C1">
                  Check This Out!
                </h1>
              </td>
            </tr>
            <tr class="w-full pb-32 bg-white">
              <td>
                <a href="https://byteitech.com/login">

                  <!-- START: 3.LETTER ///////////////////////////////////////////////////-->
                  <table align="center" class="w-3/5 mb-48">
                    <!-- Start: 1 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/desing_thinking_recurso_bbva_1024x629_a5d7b0830c.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Design Thinking &amp; Creative Thinking
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Intrigue your mind and unlock your creative potential through design thinking and creative thinking!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 1 -->
                    <!-- START: 2 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/Intro_to_Python_Background_and_History_1ac8e03524.png" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Intro to Python: Background and History
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          A short course intro and summary, along with a brief background of what Python is and its uses
                        </p>
                      </td>
                    </tr>
                    <!-- END: 2 -->
                    <!-- START: 3 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/pexels_startup_stock_photos_7376_b9088de160.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Start-up Spotlight: Kahon.ph
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Get to know more about the journey of the brains behind the "Grab of storage" and the "Airbnb of warehousing" in the country through this Start-Up Spotlight.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 3 -->
                    <!-- START: 4 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/pexels_startup_stock_photos_7376_1_5d57730ad5.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Start-up Spotlight: Expedock
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          An interview with the founder of a tech startup that is making waves and applying groundbreaking technology and systems in the traditional global supply chain.
                        </p>
                      </td>
                    </tr>
                    <!-- END:4 -->
                    <!-- START: 5 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/suv_07f9770f8d.jpeg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Introducing Incubators: StartUp Village
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Interested to hear and learn from one of the country's top start-up incubators/accelerators? Well, look no further as we bring to you the co-founder and president of StartUp Village!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 5 -->
                    <!-- START: 6 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/taxumo_logo_full_aqua_v1_300_99c9ba978a.png" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Start-up Spotlight: Taxumo
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Learn more about the company that's introduced a game-changing software to get rid of the tedious and gruesome task of tax compliance in the Philippines!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 6 -->
                    <!-- START: 7 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/Aide_APP_main_image_024f693355.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Start-up Spotlight: AIDE
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Learn more about the app seeking to revolutionize the healthcare industry in the country in this Start-Up Spotlight!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 7 -->
                    <!-- START: 8 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/Q_Li_Xaq0_Orrc_b59fe05b61.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Diary Studies
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Hey Hipster! This is where you learn how to get to know your Users in order to adapt and improve your service. 
                        </p>
                      </td>
                    </tr>
                    <!-- END: 8 -->
                    <!-- START: 9 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/g_UIJ_0_Ysz_Pig_1_ba232dc0cf.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          What is LinkedIn and How to Use It To Your Advantage
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Need some help in your career plans? Why not try LinkedIn and get to know about how can you use it to your advantage? Read more about it in this article!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 9 -->
                    <!-- START: 10 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/1_V5z_GGTYX_Vc_576d94bcfb.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Laws of UX
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          These are the laws which serve as the foundation for UX design, it is recommended that the Hipster shall abide my these. 
                        </p>
                      </td>
                    </tr>
                    <!-- END: 10 -->
                  </table>
                  <!-- END: 3.LETTER ///////////////////////////////////////////////////-->

                </a>
              </td>
            </tr>
            <table class="w-600" align="center">
              <tr class="w-full bg-white" bgcolor='#B8C3FD' align="center">
                <td class="p-12 sm:py-32 sm:px-24 emailfooter bg-gradient-to-t to-pink-100 from-purple-400 ..."  align="center">
                </td>
              </tr>
            </table>
        </td>
      </tr>
  </block>
</extends>
