---
title: "ITECH Weekly Newsletter - August 15, 2021"
preheader: "A few goodies for your post Valentine's day hustle!"
bodyClass: bg-gray-200
---

<extends src="src/layouts/master.html">
  <block name="head">
    <style>
      .emailheader {
        background-repeat: no-repeat;
        background-size: cover;
      }

      .emailfooter {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 150px;
      }

      a {
        color: black;
        text-decoration: none;
        display: block;
      }
    </style>
  </block>
  <block name="template">
    <table align="center" class="mx-auto font-sans bg-gray-100" bgcolor="#F3F4F6">
      <tr class="bg-gray-100 w-600" align="center">
        <td align="center" class="sm:px-16">
          <table class="w-600 sm:w-full">
            <tr class="bg-white">
              <!-- https://drive.google.com/uc?id=1CMFKs_M4ogqzjSMLPvDhHZ417k2bRcvO -->
              <td
                class="flex items-center justify-between p-48 sm:py-32 sm:px-24 emailheader bg-gradient-to-t from-pink-100 to-purple-400 ...">
                <table class="w-full">
                    <!-- START:  1.HEADER ///////////////////////////////////////////////////-->

                  <tbody>
                    <tr>
                      <td class="flex items-center">
                        <img src="https://drive.google.com/uc?id=1BFsBVxC-GX-ZmexA_mFXzjnkUod0SKnB" width="40"
                          height="50" class="pr-6">
                        <h1 class="self-center m-0 text-4xl text-white font-objectivity">ITECH</h1>
                      </td>
                      <td>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">
                          AUGUST 15,
                          2021</h4>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">Weekly
                          Newsletter</h4>
                      </td>
                    </tr>
                  </tbody>
                    <!-- END:  1.HEADER ///////////////////////////////////////////////////-->


              </td>
            </tr>
            <tr>
              <td class="bg-white">
                <component src="src/components/vmlbg.html"
                  locals='{"width": 600, "height": 400, "src": "https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"}'>
                  <div class="leading-64 sm:h-32">&zwnj;</div>
                  <table class="w-full mt-12" align="center">
                    <!-- START: 2.LETTER ///////////////////////////////////////////////////-->

                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <p class="mb-32 text-sm font-thin text-center">If you are viewing this on mobile, press revert auto-sizing
                        </p>
                        <h1 class="mb-16 text-2xl sm:leading-40 font-objectivity">Hey Bits!</h1>

                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          August. That. That is the pun.
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          Here are the last couple of articles you may have missed the first time around!
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          Increase your Hipster skills with articles such as <b>Tips on Making Your Portfolio</b>! Find out also where in this world you can find a <b>Mentor</b>.

                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          If you have any concerns or questions, please feel free to
                          fill up the form in this link: <br> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSOI0HZtXYGRCu9Kfybq66BpYdHUCn2vQZTLlXAjKCqYXngQ/viewform" class="inline">tinyurl.com/ITECHFeedbackForm</a>.
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          That is all for now! Its a new year and new beginning for ITECH <span>⭐️</span> See you real soon!
                        </p>


                        <p class="mt-32 text-lg leading-24 font-objectivity">
                          Love,<br />
                          ITECH Team
                        </p>
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
                    <!-- END: 2.LETTER ///////////////////////////////////////////////////-->



                  <div class="leading-64 sm:h-32">&zwnj;</div>
                </component>
              </td>
            </tr>
            <tr>
              <td class="pb-32 bg-white">
                <h1 class="text-3xl font-bold text-center font-objectivity mb-36" style="color: #64C0C1">
                  Check This Out!
                </h1>
              </td>
            </tr>
            <tr class="w-full pb-32 bg-white">
              <td>
                <a href="https://byteitech.com/login">

                  <!-- START: 3.LETTER ///////////////////////////////////////////////////-->
                  <table align="center" class="w-3/5 mb-48">
                    <!-- Start: 1 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/Jao_V_Gh5a_J3_E_8855a572fa.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          The Value of Mentors and Mentorship Revealed
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          This article will make you realize the value of acquiring mentors to improve your career. It will also share with you some tips on how and where you can find mentors in multiple industries. 
                        </p>
                      </td>
                    </tr>
                    <!-- END: 1 -->
                    <!-- START: 2 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/M_Anhvw0n_DDY_1_6a17e109e8.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Python Classes and Objects
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Have you heard the term "object-oriented programming" and wondered what it is? Well, it's all about 2 things: Classes and Objects, and what exactly are they? Read this article to find out!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 2 -->
                    <!-- START: 3 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/ko_Od_Uvf_Gr4c_1_9d81858bcf.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Where to Test Your Front End Skills
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Don't know where to start? Here are a couple of ideas to get those hands to begin programming!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 3 -->
                    <!-- START: 4 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/pexels_anthony_shkraba_4348078_1_2727e8c939.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Tips on Making Your Portfolio
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Need tips on how to organize your portfolio? Here are some to help you in building your "show and tell" to clients!
                        </p>
                      </td>
                    </tr>
                    <!-- END:4 -->
                    <!-- START: 5 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/pexels_zen_chung_5538618_1_7e597d108b.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          UX Copywriting
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Guide your users to where they need to be by learning about and appreciating the process of UX Copywriting. 
                        </p>
                      </td>
                    </tr>
                    <!-- END: 5 -->
                    <!-- START: 6 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/pexels_ivan_samkov_4458554_1_534733a329.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Case Studies: Examples and Additional Resources
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          This article talks about case studies, where to find them, as well as examples.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 6 -->
                  </table>
                  <!-- END: 3.LETTER ///////////////////////////////////////////////////-->

                </a>
              </td>
            </tr>
            <table class="w-600" align="center">
              <tr class="w-full bg-white" bgcolor='#B8C3FD' align="center">
                <td class="p-12 sm:py-32 sm:px-24 emailfooter bg-gradient-to-t to-pink-100 from-purple-400 ..."  align="center">
                </td>
              </tr>
            </table>
        </td>
      </tr>
  </block>
</extends>
