---
title: "ITECH Weekly Newsletter - February 15, 2021"
preheader: "A few goodies for your post Valentine's day hustle!"
bodyClass: bg-gray-200
---

<extends src="src/layouts/master.html">
  <block name="head">
    <style>
      .emailheader {
        background-repeat: no-repeat;
        background-size: cover;
      }

      .emailfooter {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 150px;
      }

      a {
        color: black;
        text-decoration: none;
        display: block;
      }
    </style>
  </block>
  <block name="template">
    <table align="center" class="mx-auto font-sans bg-gray-100" bgcolor="#F3F4F6">
      <tr class="bg-gray-100 w-600" align="center">
        <td align="center" class="sm:px-16">
          <table class="w-600 sm:w-full">
            <tr class="bg-white">
              <!-- https://drive.google.com/uc?id=1CMFKs_M4ogqzjSMLPvDhHZ417k2bRcvO -->
              <td
                class="flex items-center justify-between p-48 sm:py-32 sm:px-24 emailheader bg-gradient-to-t from-pink-100 to-purple-400 ...">
                <table class="w-full">
                    <!-- START:  1.HEADER ///////////////////////////////////////////////////-->

                  <tbody>
                    <tr>
                      <td class="flex items-center">
                        <img src="https://drive.google.com/uc?id=1BFsBVxC-GX-ZmexA_mFXzjnkUod0SKnB" width="40"
                          height="42" class="pr-6">
                        <h1 class="self-center m-0 text-4xl text-white font-objectivity">ITECH</h1>
                      </td>
                      <td>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">
                          FEBRUARY 22,
                          2021</h4>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">Weekly
                          Newsletter</h4>
                      </td>
                    </tr>
                  </tbody>
                    <!-- END:  1.HEADER ///////////////////////////////////////////////////-->


              </td>
            </tr>
            <tr>
              <td class="bg-white">
                <component src="src/components/vmlbg.html"
                  locals='{"width": 600, "height": 400, "src": "https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"}'>
                  <div class="leading-64 sm:h-32">&zwnj;</div>
                  <table class="w-full" align="center">
                    <!-- START: 2.LETTER ///////////////////////////////////////////////////-->

                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <p class="mb-32 text-sm font-thin text-center">If you are viewing this on mobile, press revert auto-sizing
                        </p>
                        <h1 class="mb-16 text-2xl sm:leading-40 font-objectivity">Hey Bits! 👾</h1>

                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Happy weekend!
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          We hope you were able to learn a lot from last week’s set of
                          articles. This week, ITECH has released some more articles
                          for you!
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Happy learning Bits! It is the road to Unicorns for all of us.
                          Kickstart your Hipster journey through the introductions to
                          design studies and user testing! Learn more about databases,
                          programming language SQL, and DOM! Be exposed to business
                          development, lean business model, and ethical decision-making!
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          If you have any concerns or questions, please feel free to
                          fill up the form in this link: tinyurl.com/ITECHFeedbackForm.
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Enjoy your weekend, Bits!
                        </p>


                        <p class="mt-32 text-lg font-thin leading-24 font-objectivity">
                          Love,<br />
                          ITECH Team
                        </p>
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
                    <!-- END: 2.LETTER ///////////////////////////////////////////////////-->



                  <div class="leading-64 sm:h-32">&zwnj;</div>
                </component>
              </td>
            </tr>
            <tr>
              <td class="pb-32 bg-white">
                <h1 class="text-3xl font-bold text-center font-objectivity mb-36" style="color: #64C0C1">
                  Check This Out!
                </h1>
              </td>
            </tr>
            <tr class="w-full pb-32 bg-white">
              <td>
                <a href="https://byteitech.com/login">

                  <!-- START: 3.LETTER ///////////////////////////////////////////////////-->
                  <table align="center" class="w-3/5">
                    <!-- Start: 1 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://docs.google.com/uc?export=download&id=10LjQzrO6wucKDl_Q4a1_vqLTPq1FC3QA" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          How to Conduct and Organize Your User Testing
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          This is an article that will lead you to the basics of user testing. It provides an abridged content on its description, types, and importance. User testing varies greatly but this short article will give you an overview of the process.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 1 -->


                    <tr class="bg-white">
                      <td class="flex items-center justify-between p-12 sm:py-32 sm:px-24 emailfooter">
                        <div class="leading-64 sm:h-32">&zwnj;</div>
                      </td>
                    </tr>
                  </table>
                  <!-- END: 3.LETTER ///////////////////////////////////////////////////-->

                </a>
              </td>
            </tr>
            <table class="w-600" align="center">
              <tr class="w-full bg-white" bgcolor='#B8C3FD' align="center">
                <td class="p-12 sm:py-32 sm:px-24 emailfooter bg-gradient-to-t to-pink-100 from-purple-400 ..."  align="center">
                </td>
              </tr>
            </table>
        </td>
      </tr>
  </block>
</extends>
