---
title: "ITECH Weekly Newsletter - July 1, 2021"
preheader: "A few goodies for your post Valentine's day hustle!"
bodyClass: bg-gray-200
---

<extends src="src/layouts/master.html">
  <block name="head">
    <style>
      .emailheader {
        background-repeat: no-repeat;
        background-size: cover;
      }

      .emailfooter {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 150px;
      }

      a {
        color: black;
        text-decoration: none;
        display: block;
      }
    </style>
  </block>
  <block name="template">
    <table align="center" class="mx-auto font-sans bg-gray-100" bgcolor="#F3F4F6">
      <tr class="bg-gray-100 w-600" align="center">
        <td align="center" class="sm:px-16">
          <table class="w-600 sm:w-full">
            <tr class="bg-white">
              <!-- https://drive.google.com/uc?id=1CMFKs_M4ogqzjSMLPvDhHZ417k2bRcvO -->
              <td
                class="flex items-center justify-between p-48 sm:py-32 sm:px-24 emailheader bg-gradient-to-t from-pink-100 to-purple-400 ...">
                <table class="w-full">
                    <!-- START:  1.HEADER ///////////////////////////////////////////////////-->

                  <tbody>
                    <tr>
                      <td class="flex items-center">
                        <img src="https://drive.google.com/uc?id=1BFsBVxC-GX-ZmexA_mFXzjnkUod0SKnB" width="40"
                          height="42" class="pr-6">
                        <h1 class="self-center m-0 text-4xl text-white font-objectivity">ITECH</h1>
                      </td>
                      <td>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">
                          JULY 1,
                          2021</h4>
                        <h4 class="p-0 m-0 font-bold text-right text-white uppercase text-md font-objectivity">Weekly
                          Newsletter</h4>
                      </td>
                    </tr>
                  </tbody>
                    <!-- END:  1.HEADER ///////////////////////////////////////////////////-->


              </td>
            </tr>
            <tr>
              <td class="bg-white">
                <component src="src/components/vmlbg.html"
                  locals='{"width": 600, "height": 400, "src": "https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"}'>
                  <div class="leading-64 sm:h-32">&zwnj;</div>
                  <table class="w-full" align="center">
                    <!-- START: 2.LETTER ///////////////////////////////////////////////////-->

                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <p class="mb-32 text-sm font-thin text-center">If you are viewing this on mobile, press revert auto-sizing
                        </p>
                        <h1 class="mb-16 text-2xl sm:leading-40 font-objectivity">Hey Bits!</h1>

                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          June is over already?! JULYing!
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          Maybe you would want to work on a new skill with these articles you may have missed out on in ITECH!
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          To the Hipsters, you may be interested in stumbling upon new concepts
                          you may want to apply in your designs! Systems are important so be sure
                          to check out <b>Design Systems, Design Sprints</b>, and <b>Design & Development Management Tips</b>.

                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          If you have any concerns or questions, please feel free to
                          fill up the form in this link: <br> <a href="tinyurl.com/ITECHFeedbackForm" class="inline">tinyurl.com/ITECHFeedbackForm</a>.
                        </p>
                        <p class="mt-24 text-lg leading-24 font-objectivity">
                          Half the year has ended and we hope youre still doing okay <span>⭐️</span>
                        </p>


                        <p class="mt-32 text-lg leading-24 font-objectivity">
                          Love,<br />
                          ITECH Team
                        </p>
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
                    <!-- END: 2.LETTER ///////////////////////////////////////////////////-->



                  <div class="leading-64 sm:h-32">&zwnj;</div>
                </component>
              </td>
            </tr>
            <tr>
              <td class="pb-32 bg-white">
                <h1 class="text-3xl font-bold text-center font-objectivity mb-36" style="color: #64C0C1">
                  Check This Out!
                </h1>
              </td>
            </tr>
            <tr class="w-full pb-32 bg-white">
              <td>
                <a href="https://byteitech.com/login">

                  <!-- START: 3.LETTER ///////////////////////////////////////////////////-->
                  <table align="center" class="w-3/5">
                    <!-- Start: 1 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/8y3e2_M6_A_Py4_4_055e8a5b7b.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          The Hows of Fundraising Answered
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          This article will guide you on the things you will need to prepare for pitching your business to investors! It will also give you different ideas on how to raise funds <span>✨</span>
                        </p>
                      </td>
                    </tr>
                    <!-- END: 1 -->
                    <!-- START: 2 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/159875003_1353072175053558_8534511715682283374_n_776886bb63.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Design Systems
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          What is a Design System? Is your team needing one? Here is a crash course to help you on building one!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 2 -->
                    <!-- START: 3 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/So_T4_m_Zhyh_E_7e515c9049.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Growth Framework
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          Having trouble with sustaining growth in your startup? Learn more about growth framework in this article!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 3 -->
                    <!-- START: 4 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/Imc_Io_ZDM_Xc_d31aa3f30a.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Best Free Online Courses for UX/UI Design
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          A guide to where to find free online courses designed for BYTE's Hipsters
                        </p>
                      </td>
                    </tr>
                    <!-- END:4 -->
                    <!-- START: 5 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/8y3e2_M6_A_Py4_1_16c1a05ca4.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Values to Consider For a Start-up Team
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          The article talks about the importance of building organizational culture within your startup team through seven examples of good business values.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 5 -->
                    <!-- START: 6 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/g_UIJ_0_Ysz_Pig_9eae905537.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Design &amp; Development Management Tips
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          The importance of Design and Development Management is clear in UX/UI. Here are some tips to help in management.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 6 -->
                    <!-- START: 7 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/5ai_Rb5f464_A_1_8f831e288a.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Design Sprints
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          You don't need to be physically fit to run a sprint! When designing a product or feature, you can 
                          run a design sprint and find a solution for the problem in only 5 days. Click here to learn more!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 7 -->
                    <!-- START: 8 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/ko_Od_Uvf_Gr4c_887b624f69.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          What Language is For What?
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          I'm learning this language for what? Read more to know what language is appropriate for a specific practice.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 8 -->
                    <!-- START: 9 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/Ox6_SW_103_Kt_M_c711798c6a.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Customer Development
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          After initially starting your start-up, what you gonna do next? Get started in looking for potential customers by reading this article!
                        </p>
                      </td>
                    </tr>
                    <!-- END: 9 -->
                    <!-- START: 10 -->
                    <tr class="mb-32 bg-white">
                      <td class="pt-20">
                        <img src="https://itechstrapiuploadprovider.s3.ap-northeast-2.amazonaws.com/campaign_creators_g_Msn_Xq_I_Ljp4_unsplash_1_e40665e95f.jpg" class="w-full rounded-2xl object-cover" style="height: 147.3px">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Accelerators &amp; Incubators for Your Start-up
                        </p>
                        <p class="text-sm leading-tight leading-24 font-objectivity">
                          The article talks about steps you can do to expand your business' reach and operations through accelerators and incubators.
                        </p>
                      </td>
                    </tr>
                    <!-- END: 10 -->

                    <tr class="bg-white">
                      <td class="flex items-center justify-between p-12 sm:py-32 sm:px-24 emailfooter">
                        <div class="leading-64 sm:h-32">&zwnj;</div>
                      </td>
                    </tr>
                  </table>
                  <!-- END: 3.LETTER ///////////////////////////////////////////////////-->

                </a>
              </td>
            </tr>
            <table class="w-600" align="center">
              <tr class="w-full bg-white" bgcolor='#B8C3FD' align="center">
                <td class="p-12 sm:py-32 sm:px-24 emailfooter bg-gradient-to-t to-pink-100 from-purple-400 ..."  align="center">
                </td>
              </tr>
            </table>
        </td>
      </tr>
  </block>
</extends>
