---
title: "ITECH Weekly Newsletter - February 15, 2021"
preheader: "A few goodies for your post Valentine's day hustle!"
bodyClass: bg-gray-200
---

<extends src="src/layouts/master.html">
  <block name="head">
    <style>
      .emailheader {
        background-repeat: no-repeat;
        background-size: cover;
      }

      .emailfooter {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 150px;
      }

      a {
        color: black;
        text-decoration: none;
        display: block;
      }
    </style>
  </block>
  <block name="template">
    <table class="mx-auto font-sans w-600">
      <tr class="">
        <td align="center" class="sm:px-16">
          <table class="w-600 sm:w-full">
            <tr class="bg-white">
              <!-- https://drive.google.com/uc?id=1CMFKs_M4ogqzjSMLPvDhHZ417k2bRcvO -->
              <td class="flex items-center justify-between p-48 sm:py-32 sm:px-24 emailheader" bgcolor='#B8C3FD'>
                <table class="w-full">
                  <tbody>
                    <tr>
                      <td class="flex items-center">
                        <img src="https://drive.google.com/uc?id=1BFsBVxC-GX-ZmexA_mFXzjnkUod0SKnB" width="40" height="42" class="pr-6">
                        <h1 class="self-center m-0 text-4xl text-white font-objectivity">ITECH</h1>
                      </td>
                      <td> 
                        <h4 class="p-0 m-0 font-medium text-right text-white uppercase text-md font-objectivity">FEBRUARY 15,
                          2021</h4>
                        <h4 class="p-0 m-0 font-medium text-right text-white uppercase text-md font-objectivity">Weekly
                          Newsletter</h4>
                      </td>
                    </tr>
                  </tbody>
              </td>
            </tr>
            <tr>
              <td class="bg-white">
                <component src="src/components/vmlbg.html"
                  locals='{"width": 600, "height": 400, "src": "https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"}'>
                  <div class="leading-64 sm:h-32">&zwnj;</div>
                  <table class="w-full" align="center">
                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <h1 class="m-0 mb-16 text-2xl sm:leading-40 font-objectivity">Hey Bits! 👾</h1>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Happy Chinese New Year and Happy Valentines!
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          We hope you enjoyed this week’s holidays, but we have one more surprise for you! ITECH has
                          prepared new articles for you to read and learn about throughout the week.
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Learn about <strong>Python</strong> and <strong>HTML</strong> as our team has shared the
                          basics that you can definitely start with. Be sure to also check out the journey of start ups
                          like Kumu as they share their secrets of success.
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          They are currently up on the ITECH website but do not worry! We have all the new articles this
                          week here for you. Just click on any below.
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Happy learning Bits! It is the road to Unicorns for all of us.
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          If you have any concerns or questions, please feel free to fill up the form in this link:
                          tinyurl.com/ITECHFeedbackForm.
                        </p>
                        <p class="mt-24 text-lg font-thin leading-24 font-objectivity">
                          Happy week, Bits! Enjoy your first week of school.
                        </p>
                        <p class="mt-32 text-lg font-thin leading-24 font-objectivity">
                          Love,<br />
                          ITECH Team
                        </p>
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
                  <div class="leading-64 sm:h-32">&zwnj;</div>
                </component>
              </td>
            </tr>
            <tr>
              <td class="pb-32 bg-white">
                <h1 class="text-3xl font-bold text-center font-objectivity mb-36" style="color: #64C0C1">
                  Check This Out!
                </h1>
              </td>
            </tr>
            <tr class="w-full bg-white pb-32">
              <td>
                <a href="https://byteitech.com/login">
                <table align="center" class="w-3/5">
                  <tr class="bg-white">
                    <td>
                        <img src="https://drive.google.com/uc?id=18fMdaBgZh5-FbJDmPY3U-IbNPpDtRD-e" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Intro to Python: Functions and Recursion
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          This article is all about creating and using functions in Python such as local & global variables,
                          with concepts of recursion through visualization and a step-by-step guide
                        </p>
                    </td>
                  </tr>
                  <tr class="bg-white">
                    <td>
                        <img src="https://drive.google.com/uc?id=10ZcC_3Sk258ph96KTo5W8J9_TX6E5-bL" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Intro to Python: Exceptions and Debugging
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          This article explains how to prevent, handle, and solve errors in your program. It also teaches the
                          concept of debugging and its importance
                        </p>
                    </td>
                  </tr>
                  <tr  class="bg-white">
                    <td>
                        <img src="https://drive.google.com/uc?id=19K5wZFLqjm-hNUBRqA0dDmYUolS0HXb2" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Intro to Python: Closing Remarks and Final Challenge
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          Some final remarks for finishing the course and a final challenge to showcase your newfound
                          knowledge on Python
                        </p>
                    </td>
                  </tr>
                  <tr  class="bg-white">
                    <td>
                          <img src="https://drive.google.com/uc?id=1zRycLmJuKlV_icP5HtdxzaK0XM0-00D9" class="w-full">
                          <p class="mt-24 font-bold text-md font-objectivity">
                            Intro to HTML: What is HTML?
                          </p>
                          <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                            What is HTML? We often hear of it but what exactly is its role in web development? How is it different
                            from other languages?
                          </p>
                    </td>
                  </tr>
                  <tr  class="bg-white">
                    <td>
                        <img src="https://drive.google.com/uc?id=1kplnivNEg4yBQou8Lb5G9NiBPDFtOFi4" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Intro to HTML: Web Design
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          With all these knowledge on HTML terms and tags, how can we apply it to designing a usable and
                          navigable website? Let's tackle the basic on how to structure your website!
                        </p>
                    </td>
                  </tr>
                  <tr  class="bg-white">
                    <td>
                        <img src="https://drive.google.com/uc?id=1XEOI7TgMBR_kdqxHSBFAbk1C48riYJHC" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Intro to HTML: Common Terms and Tags
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          HTML involves a wide range of tags and and we can only cover little! Let's start off with one of the
                          most common ones and a couple of terms that will aid in our understanding of how HTML works.
                        </p>
                    </td>
                  </tr>
                  <tr  class="bg-white">
                    <td>        
                      <img src="https://drive.google.com/uc?id=1chCIm7wA-hCg-cES7Hw_MNhEsrBKYRgI" class="w-full">
                      <p class="mt-24 font-bold text-md font-objectivity">
                        Start-Up Spotlight with Kumu
                      </p>
                      <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                        Learn more about the struggles and pivots that brought the founders of this local livestreaming app
                        to where it is today.
                      </p>
                    </td>
                  </tr>
                  <tr  class="bg-white">
                    <td>
                        <img src="https://drive.google.com/uc?id=12AMWg7DezegA5U-M9KPrZ49nJuK9e_vI" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          What are Internships?
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          A brief introduction on all you need to know about internships and what they can do for you.
                        </p>
                    </td>
                  </tr>
                  <tr class="bg-white">
                    <td>      
                        <img src="https://drive.google.com/uc?id=1i9m24B13hzeTCHWLAYgPKj8NUufvGD39" class="w-full">
                        <p class="mt-24 font-bold text-md font-objectivity">
                          Internship Insights: Kass Monzon
                        </p>
                        <p class="text-sm font-thin leading-tight leading-24 font-objectivity">
                          A feature on the importance of internships from the founder of one of the country's on-the-rise
                          workplace startups.
                        </p>
                    </td>
                  </tr>
                  <tr class="bg-white">
                    <td class="flex items-center justify-between p-12 sm:py-32 sm:px-24 emailfooter">
                      <div class="leading-64 sm:h-32">&zwnj;</div>
                    </td>
                  </tr>
                </table>
              </a>
              </td>
            </tr>
        </td>
      </tr>
      <tr class="bg-white">
        <td class="flex items-center justify-center p-12 sm:py-32 sm:px-24 emailfooter" bgcolor='#B8C3FD'>
          <div class="leading-64 sm:h-32">
            <p class="text-gray-600 text-lg text-center">If you are viewing this on mobile, press revert auto-sizing</p>
          </div>
        </td>
      </tr>
    </table>
    </td>
    </tr>
    </table>
  </block>
</extends>